
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
*.swp
*.json
cuda-repo-wsl-ubuntu-12-0-local_12.0.0-1_amd64.deb
results/scripts/
data/real_world/nd12k.el
programs/*
.kdev4/*
*.kdev4
*.o
*.o
output_exps/*
outputs_exps/*
*.mtx
*.tmp
results/*
images/*
test.el
data/suitsparse_big/*
data/suitsparse_collection_1.rar
programs/cuda/cuda_multiply
programs/cuda/TEST_cuda
src/scripts/prepare_mtx_files.sh
programs/general/TEST_blocking_VBR_2D
results/*
outputfile
data/suitsparse_N20000_100000_dN0.0001_0.1/ns3Da.tar.gz
data/suitsparse_big.rar
data/suitsparse*
!results/collected_experiments/
